{% extends "base.html" %}

{% block title %}
  掲示板
{% endblock %}
<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【掲示板】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'bbs:list' %}">ファイル一覧</a>
      {% comment %} <a class="navbar-item" href="{% url 'bbs:category_index' %}">カテゴリ一覧</a> {% endcomment %}
    </div>
    {% comment %} <div class="navbar-end">
      <a class="navbar-item" href="{% url 'register:news_card' %}">ホームに戻る</a>
    </div> {% endcomment %}
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container with_mobile">
  <br>
  <div class="content">
    <h3>掲示板一覧</h3>
{% comment %} 
    {% if category_pk %}
      <!-- カテゴリ一覧からカテゴリ別のファイル一覧で表示 -->
      <a href="{% url 'bbs:file_create' category_pk %}" class="button is-primary">更新アップロード</a>
    {% else %}
      <a href="{% url 'bbs:file_create' %}" class="button is-primary">新規アップロード</a>
    {% endif %}
    <!--<a href="{% url 'notice:news_card' %}" class="button is-primary">戻る</a>-->
    <a class="button is-primary" href="javascript:void(0);" onclick="window.history.back();">前に戻る</a>
{% endcomment %}
  </div>
  <br>
  <table class="table is-narrow is-bordered is-striped">
    <thead>
      <tr>
        <th class="has-text-centered">タイトル</th>
        <th class="has-text-centered">カテゴリ</th>
        <th class="has-text-centered">表示</th>
        <th class="has-text-centered">状況</th>
        <th class="has-text-centered">rank</th>
        <th class="has-text-centered">#</th>
      </tr>
    </thead>
    <tbody>
      {% for file in file_list %}
      <tr>
        <td class="has-text-left">{{file.title}}</td>
        <td class="has-text-centered">
          <img src="{{file.img.url}}" style="width: 100px; auto;">
        </td>
        <td class="has-text-centered"><a href="{{file.img.url}}">表示</a></td>
        <td class="has-text-centered">{{ file.alive }}</td>
        <td class="has-text-centered">{{ file.rank }}</td>
        <td class="nowrap">
          <a href="{% url 'bbs:file_update' file.pk %}" class="button has-background-grey-lighter is-small">
            更新
          </a>
          <a href="{% url 'bbs:file_delete' file.pk %}" class="button has-background-grey-lighter is-small">
            削除
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
</div>
{% endblock %}
