{% extends "base.html" %}

{% block title %}
  掲示板
{% endblock %}
<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="{% url 'bbs:list' %}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
{% comment %} <div class="container with_mobile"> {% endcomment %}
<div class="container is-fluid">
  <br>
  <div class="content has-text-centered">
    <br>
    <img src="{{img_obj.img.url}}" >
    <br>
  </div>
</div>
{% endblock %}
