{% extends "base.html" %}

{% block title %}
  掲示板
{% endblock %}
<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {% comment %} <a class="navbar-item">【掲示板】</a> {% endcomment %}
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      {% if user.is_anonymous %}
        <a class="navbar-item" href="{% url 'register:login' %}">管理者ログイン</a>
      {% else %}
        <a class="navbar-item" href="{% url 'bbs:file_list' %}">管理画面</a>
        <a class="navbar-item" href="{% url 'register:logout' %}">ログアウト</a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
{% comment %} <div class="container with_mobile"> {% endcomment %}
<div class="container is-fluid">
  <br>
  <div class="content has-text-centered">
    <h3>掲示板</h3>
    <br>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        {% for file in file_list %}
          <div class="tile is-child box is-4">
            <a href="{{file.img.url}}"><img src="{{file.img.url}}" style="width: 300px; auto;"></a>
          </div>
        {% endfor %}
      </div>
    </div>
    <br>
  </div>
</div>
{% endblock %}
