{% extends "base.html" %}
{% load static %}

{% block title %}
  掲示板
{% endblock %}

{% block head %}
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
{% comment %} <script src="{% static 'bbs/reload.js' %}"></script> {% endcomment %}
<link href="{% static 'bbs/img.css' %}" rel="stylesheet">
{% endblock %}

<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="" method="get">
        {{form.css}}
        <button type="submit" class="button is-link is-size-7">切替</button>
      </form>
    </div>
    <div class="navbar-end">
      {% if user.is_anonymous %}
        <a class="navbar-item" href="{% url 'register:login' %}">管理者ログイン</a>
      {% else %}
        <a class="navbar-item" href="{% url 'bbs:file_list' %}">管理画面</a>
        <form method="post" class="navbar-item" action="{% url 'register:logout' %}">
          {% csrf_token %}
          <button type="submit">ログアウト</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
{% comment %} <div class="container with_mobile"> {% endcomment %}
<div class="container is-fluid">
  <br>
  <div class="content has-text-centered">
    <h3>掲示板 ({{title|date}})</h3>
    <br>
    {% for file in file_list %}
      <a href="{% url 'bbs:file_expand' file.pk %}">
        <img class="{{css}}" src="{{file.img.url}}" style="width: 300px; auto;">
      </a>
    {% endfor %}
    <br>
  </div>
</div>
{% endblock %}
