{% extends "base.html" %}

{% block title %}
  管理用掲示板
{% endblock %}
<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'bbs:list' %}">掲示板へ戻る</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'bbs:file_create' %}" >掲示写真登録</a>
      <a class="navbar-item" href="{% url 'register:pwd_update' user.pk %}" >パスワード変更</a>
      {% if perms.register.add_user %}
        <a class="navbar-item" href="{% url 'register:user_list' %}">ユーザ管理</a>
      {% endif %}
      <form method="post" class="navbar-item" action="{% url 'register:logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
      </form>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container is-fluid">
  <br>
  <div class="content has-text-centered">
    <h3>管理者用リスト</h3>
    <p>回転処理後は再読み込みをしてください（キャッシュのため）</p>
  </div>
  <br>
  {% comment %} <table class="table table_center_nowrap is-narrow is-striped"> {% endcomment %}
  <table class="table table_center is-narrow is-striped">
    <thead>
      <tr>
        {% comment %} <th class="has-text-centered">タイトル</th> {% endcomment %}
        <th class="has-text-centered">画像</th>
        <th class="has-text-centered">処理</th>
      </tr>
    </thead>
    <tbody>
      {% for file in file_list %}
      <tr>
        {% comment %} <td class="has-text-left">{{file.title}}</td> {% endcomment %}
        <td class="has-text-centered">
          {% if file.img %}
            <img src="{{file.img.url}}" style="width: 200px; auto;">
          {% endif %}
        </td>
        {% comment %} <td class="nowrap"> {% endcomment %}
        <td>
          <a href="{% url 'bbs:file_update' file.pk %}" class="button has-background-grey-lighter is-small">
            更新
          </a>
          <a href="{% url 'bbs:file_delete' file.pk %}" class="button has-background-grey-lighter is-small">
            削除
          </a>
          <a href="{% url 'bbs:file_rotate' file.pk 0 %}" class="button has-background-grey-lighter is-small">
            左回転
          </a>
          <a href="{% url 'bbs:file_rotate' file.pk 1 %}" class="button has-background-grey-lighter is-small">
            右回転
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
</div>
{% endblock %}
