{% extends "base.html" %}
{% block title %}
管理者ページ
{% endblock title %}
{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {% comment %} <a class="navbar-item">【SG川崎】</a> {% endcomment %}
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">資産データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'asset_list:create_master' %}" class="dropdown-item">資産マスターの登録/修正<a>
          <a href="{% url 'asset_list:create_account' %}" class="dropdown-item">会計区分の登録/修正<a>
        </div>
      </div>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">管理費会計データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'kanrihi_in:create_master' %}" class="dropdown-item">収入項目の登録/修正<a>
          <a href="{% url 'kanrihi_out:create_master' %}" class="dropdown-item">支出項目の登録/修正<a>
          <hr class="navbar-divider">
          <a href="{% url 'kanrihi_in:create_category' %}" class="dropdown-item">収入カテゴリーの登録/修正<a>
          <a href="{% url 'kanrihi_out:create_category' %}" class="dropdown-item">支出カテゴリーの登録/修正<a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">修繕費会計データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'shuuzenhi_in:create_master' %}" class="dropdown-item">収入項目の登録<a>
          <a href="{% url 'shuuzenhi_out:create_koujitype' %}" class="dropdown-item">修繕工事タイプの登録/修正<a>
          <a href="{% url 'shuuzenhi_out:create_constractor' %}" class="dropdown-item">施工業者の登録/修正<a>
          <hr class="navbar-divider">
          <a href="{% url 'shuuzenhi_in:create_category' %}" class="dropdown-item">収入カテゴリーの登録/修正<a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">駐車場会計データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'parking_in:create_master' %}" class="dropdown-item">駐車場収入マスタの登録<a>
        </div>
      </div>

    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}
{% block content %}
<br>
<div class="container with_mobile">
  <div class="content has-text-centered ">
    <h2>マスターデータの登録／修正</h2>
  </div>
</div>
{% endblock %}
