{% extends "base.html" %}
{# http://cccabinet.jpn.org/bootstrap4/components/navbar #}
{% block title %}
SG川崎 会計
{% endblock %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'asset_list:assetlist' %}" class="navbar-item">財産目録<a>
      <a href="{% url 'balance:kanrihi' %}" class="navbar-item">管理会計<a>
      <a href="{% url 'balance:shuuzenhi' %}" class="navbar-item">修繕会計<a>
      <a href="{% url 'parking_in:incomelist' %}" class="navbar-item">駐車場会計<a>
    </div>
    <div class="navbar-end">
      {% if perms.asset_list.add_assetlist %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">データ管理</a>
          <div class="navbar-dropdown">
            <a href="{% url 'register:operate_data' %}" class="navbar-item ">決算データ入力</a>
            {% if request.user.is_superuser %}
              <a href="{% url 'register:master_data' %}" class="navbar-item ">マスタデータ</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if user.username == 'sophiag' %}
        <a class="navbar-item" href="{% url 'register:signup' %}">仮登録</a>
      {% endif %}
      {% if request.user.is_superuser %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">ユーザ管理</a>
          <div class="navbar-dropdown">
            <a href="{% url 'register:user_list' %}" class="navbar-item ">ユーザ一覧</a>
          </div>
        </div>
      {% endif %}
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:logout' %}" >ログアウト</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

<br>
{% block content %}
<div class="content has-text-centered">
  <br>
  <h4>マンション会計履歴</h4>
  <h4 class="subtitle">Ver-{{VERSION_NO}}</h4>
  {% load static%}
  <img src="{% static 'ramune.png' %}" style="max-height:500px" class="img-fluid" />
</div>
{% endblock %}
