{% extends "base.html" %}
{% block title %}
管理者ページ
{% endblock title %}
{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {% comment %} <a class="navbar-item">【SG川崎】</a> {% endcomment %}
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">資産データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'asset_list:create' %}" class="dropdown-item">資産データの登録<a>
          <hr class="navbar-divider">
          <a href="{% url 'asset_list:update_list' %}" class="dropdown-item">資産データの修正<a>
        </div>
      </div>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">管理費会計データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'kanrihi_in:create_income' %}" class="dropdown-item">管理費収入データの登録<a>
          <a href="{% url 'kanrihi_out:create_expense' %}" class="dropdown-item">管理費支出データの登録<a>
          <hr class="navbar-divider">
          <a href="{% url 'kanrihi_in:update_list' %}" class="dropdown-item">管理費収入データの修正<a>
          <a href="{% url 'kanrihi_out:update_list' %}" class="dropdown-item">管理費支出データの修正<a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">修繕費会計データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'shuuzenhi_in:create' %}" class="dropdown-item">修繕費収入データの登録<a>
          <a href="{% url 'shuuzenhi_out:create' %}" class="dropdown-item">修繕費支出データの登録<a>
          <hr class="navbar-divider">
          <a href="{% url 'shuuzenhi_in:update_list' %}" class="dropdown-item">修繕費収入データの修正<a>
          <a href="{% url 'shuuzenhi_out:update_list' %}" class="dropdown-item">修繕費支出データの修正<a>
          {#<a href="{% url 'shuuzenhi_out:export' %}" class="dropdown-item">修繕費支出データCSV<a>#}
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">駐車場会計データ</a>
        <div class="navbar-dropdown">
          <a href="{% url 'parking_in:create' %}" class="dropdown-item">駐車場収入データの登録<a>
          <a href="{% url 'parking_out:create' %}" class="dropdown-item">駐車場使用料支出データの登録<a>
          <hr class="navbar-divider">
          <a href="{% url 'parking_in:update_list' %}" class="dropdown-item">駐車場収入データの修正<a>
          <a href="{% url 'parking_out:update_list' %}" class="dropdown-item">駐車場使用料支出データの修正<a>
        </div>
      </div>

    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}
{% block content %}
<br>
<div class="content has-text-centered ">
  <h2>会計データの登録／修正</h2>
</div>
{% endblock %}
