{% extends "base.html" %}
{% block content %}
<div class="container is-fluid ">
  <br>
  <div class="content has-text-centered">
    <h3>{{user.username}}</h3>
  </div>
  <br>
  <form method='POST' enctype='multipart/form-data' id="form_style">
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class='field'>
        <div class='control'>
          <div class='label'>{{ field.label_tag }}</div>
          {% if field.help_text %}
            <span class='helptext'>{{ field.help_text }}</span>
          {% endif %}
          <div class='my_field'>{{ field }}</div>
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <br>
    <div class='my_button has-text-centered'>
      <button type='submit' class='button is-link'>送信</button>
      <a class="button is-dark" href="{% url 'bbs:file_list' %}">戻る</a>
    </div>
  </form>
{% comment %} 
    <form action="" method="POST">
      {{ form.non_field_errors }}
      {% csrf_token %}
      <table class="table">
        {{form}}
      </table>
      <br>
      <button type="submit" class="button is-primary">送信</button>
      <a class="button is-dark" href="{% url 'bbs:file_list' %}">戻る</a>
    </form> {% endcomment %}

</div>
{% endblock %}