{% extends "base.html" %}
{% block content %}
<div class="container is-fluid ">
  <br>
  <div class="content has-text-centered" id="form_style">
    <h3>{{user.username}}</h3>
    <br>
    <form action="" method="POST">
      {{ form.non_field_errors }}
      {% csrf_token %}
      <table class="table">
        {{form}}
      </table>
      <br>
      <button type="submit" class="button is-primary">送信</button>
      <a class="button is-dark" href="{% url 'register:mypage' %}">戻る</a>
    </form>
  </div>
</div>
{% endblock %}